USE [master]
GO
/****** Object:  Database [DB_CREDISEGURO_SA]    Script Date: 27/2/2026 07:15:15 ******/
CREATE DATABASE [DB_CREDISEGURO_SA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_CREDISEGURO_SA', FILENAME = N'C:\SQLData\DB_CREDISEGURO_SA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_CREDISEGURO_SA_log', FILENAME = N'C:\SQLData\DB_CREDISEGURO_SA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_CREDISEGURO_SA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_CREDISEGURO_SA]
GO
/****** Object:  Schema [Conf]    Script Date: 27/2/2026 07:15:15 ******/
CREATE SCHEMA [Conf]
GO
/****** Object:  Schema [Inf]    Script Date: 27/2/2026 07:15:15 ******/
CREATE SCHEMA [Inf]
GO
/****** Object:  Schema [Prod]    Script Date: 27/2/2026 07:15:15 ******/
CREATE SCHEMA [Prod]
GO
/****** Object:  Table [Conf].[Configurations]    Script Date: 27/2/2026 07:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Conf].[Configurations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Topic] [varchar](64) NOT NULL,
	[Key] [varchar](64) NULL,
	[Value] [varchar](256) NOT NULL,
	[Description] [varchar](128) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Configuration] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Inf].[FAQs]    Script Date: 27/2/2026 07:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Inf].[FAQs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RelativeTo] [varchar](50) NULL,
	[RelationValue] [int] NULL,
	[Question] [varchar](256) NOT NULL,
	[Answer] [varchar](512) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_FAQ] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Prod].[Alliances]    Script Date: 27/2/2026 07:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Prod].[Alliances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](16) NOT NULL,
	[Company] [varchar](50) NOT NULL,
	[Description] [varchar](256) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Alliace] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Prod].[Assistances]    Script Date: 27/2/2026 07:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Prod].[Assistances](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Service] [varchar](100) NULL,
	[Plan] [varchar](50) NULL,
	[Description] [varchar](256) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Assistance] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Prod].[Coverages]    Script Date: 27/2/2026 07:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Prod].[Coverages](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Amount] [money] NULL,
	[Currency] [varchar](10) NULL,
	[Plan] [varchar](50) NULL,
	[Description] [varchar](256) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Coverage] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Prod].[ProductProperties]    Script Date: 27/2/2026 07:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Prod].[ProductProperties](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[Property] [varchar](48) NOT NULL,
	[Tag] [varchar](48) NULL,
	[Value] [varchar](256) NOT NULL,
	[DataType] [varchar](16) NOT NULL,
	[Description] [varchar](128) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_ProductProperty] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Prod].[Products]    Script Date: 27/2/2026 07:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Prod].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SectorId] [int] NOT NULL,
	[AllianceId] [int] NULL,
	[Code] [varchar](16) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](512) NOT NULL,
	[Entity] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [Prod].[Sectors]    Script Date: 27/2/2026 07:15:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [Prod].[Sectors](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](16) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Description] [varchar](256) NOT NULL,
	[ResourcePath] [varchar](256) NULL,
	[Action] [varchar](50) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[CreatedAt] [datetime] NOT NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK_Sector] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [Conf].[Configurations] ON 

INSERT [Conf].[Configurations] ([Id], [Topic], [Key], [Value], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'Imagen', N'Principal', N'~/assets/img/banner-principal-01.svg', N'Imagen 01 para el carrusel principal', 1, N'B04889', CAST(N'2026-02-25T16:23:05.050' AS DateTime), NULL, NULL)
INSERT [Conf].[Configurations] ([Id], [Topic], [Key], [Value], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'Imagen', N'Principal', N'~/assets/img/banner-principal-02.svg', N'Imagen 02 para el carrusel principal', 1, N'B04889', CAST(N'2026-02-25T16:23:05.053' AS DateTime), NULL, NULL)
INSERT [Conf].[Configurations] ([Id], [Topic], [Key], [Value], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'Imagen', N'Principal', N'~/assets/img/banner-principal-03.svg', N'Imagen 03 para el carrusel principal', 1, N'B04889', CAST(N'2026-02-25T16:23:05.053' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [Conf].[Configurations] OFF
GO
SET IDENTITY_INSERT [Prod].[Alliances] ON 

INSERT [Prod].[Alliances] ([Id], [Code], [Company], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'CRS', N'Crediseguro', N'Institución Aseguradora', 1, N'B04889', CAST(N'2026-02-25T16:21:57.347' AS DateTime), NULL, NULL)
INSERT [Prod].[Alliances] ([Id], [Code], [Company], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'BCP', N'BCP Bolivia', N'Entidad Financiera', 1, N'B04889', CAST(N'2026-02-25T16:21:57.347' AS DateTime), NULL, NULL)
INSERT [Prod].[Alliances] ([Id], [Code], [Company], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'SOL', N'Banco SOL', N'Entidad Financiera', 1, N'B04889', CAST(N'2026-02-25T16:21:57.347' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [Prod].[Alliances] OFF
GO
SET IDENTITY_INSERT [Prod].[Assistances] ON 

INSERT [Prod].[Assistances] ([Id], [ProductId], [Service], [Plan], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, 4, N'Asistencia Handyman', NULL, N'Servicio de asistencia para reparaciones menores en el hogar.', 1, N'B04889', CAST(N'2026-02-25T16:23:16.790' AS DateTime), NULL, NULL)
INSERT [Prod].[Assistances] ([Id], [ProductId], [Service], [Plan], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, 17, N'IGS Salud', NULL, N'Asistencia medica en salud.', 1, N'B04889', CAST(N'2026-02-25T16:23:16.817' AS DateTime), NULL, NULL)
INSERT [Prod].[Assistances] ([Id], [ProductId], [Service], [Plan], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, 18, N'IGS Salud', NULL, N'Asistencia medica en salud.', 1, N'B04889', CAST(N'2026-02-25T16:23:16.817' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [Prod].[Assistances] OFF
GO
SET IDENTITY_INSERT [Prod].[Coverages] ON 

INSERT [Prod].[Coverages] ([Id], [ProductId], [Amount], [Currency], [Plan], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, 1, 100000.0000, N'BOB', NULL, N'Suma Asegurada', 1, N'B04889', CAST(N'2026-02-25T16:23:16.780' AS DateTime), NULL, NULL)
INSERT [Prod].[Coverages] ([Id], [ProductId], [Amount], [Currency], [Plan], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, 2, 10000.0000, N'BOB', NULL, N'Suma Asegurada', 1, N'B04889', CAST(N'2026-02-25T16:23:16.783' AS DateTime), NULL, NULL)
INSERT [Prod].[Coverages] ([Id], [ProductId], [Amount], [Currency], [Plan], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, 3, 30000.0000, N'USD', NULL, N'Suma Asegurada', 1, N'B04889', CAST(N'2026-02-25T16:23:16.787' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [Prod].[Coverages] OFF
GO
SET IDENTITY_INSERT [Prod].[ProductProperties] ON 

INSERT [Prod].[ProductProperties] ([Id], [ProductId], [Property], [Tag], [Value], [DataType], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, 1, N'Prima', N'Monto', N'450', N'DECIMAL', N'Precio de la prima', 1, N'B04889', CAST(N'2026-02-25T16:23:16.780' AS DateTime), NULL, NULL)
INSERT [Prod].[ProductProperties] ([Id], [ProductId], [Property], [Tag], [Value], [DataType], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, 1, N'Prima', N'Moneda', N'BOB', N'STRING', N'Moneda de la prima', 1, N'B04889', CAST(N'2026-02-25T16:23:16.780' AS DateTime), NULL, NULL)
INSERT [Prod].[ProductProperties] ([Id], [ProductId], [Property], [Tag], [Value], [DataType], [Description], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, 1, N'Vigencia', NULL, N'Anual', N'STRING', N'Vigencia del seguro', 1, N'B04889', CAST(N'2026-02-25T16:23:16.780' AS DateTime), NULL, NULL)
GO
SET IDENTITY_INSERT [Prod].[ProductProperties] OFF
GO
SET IDENTITY_INSERT [Prod].[Products] ON 

INSERT [Prod].[Products] ([Id], [SectorId], [AllianceId], [Code], [Name], [Description], [Entity], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, 1, 2, N'ONCBPR', N'Oncológico Plus', N'El seguro que cuenta con la indemnización de cáncer más alta.', N'PERSONALES', 1, N'B04889', CAST(N'2026-02-25T16:23:16.770' AS DateTime), NULL, NULL)
INSERT [Prod].[Products] ([Id], [SectorId], [AllianceId], [Code], [Name], [Description], [Entity], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, 1, 2, N'CRSVSP', N'Vida + Salud Preventiva', N'Seguro de Vida con cobertura para cáncer y asistencia médica integral.', N'PERSONALES', 1, N'B04889', CAST(N'2026-02-25T16:23:16.770' AS DateTime), NULL, NULL)
INSERT [Prod].[Products] ([Id], [SectorId], [AllianceId], [Code], [Name], [Description], [Entity], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, 1, 2, N'SEGMUL', N'Seguro Múltiple', N'Cobertura de Vida, Salud y Accidentes.', N'PERSONALES', 1, N'B04889', CAST(N'2026-02-25T16:23:16.770' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [Prod].[Products] OFF
GO
SET IDENTITY_INSERT [Prod].[Sectors] ON 

INSERT [Prod].[Sectors] ([Id], [Code], [Name], [Description], [ResourcePath], [Action], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (1, N'MYBS', N'Banca seguros', N'Seguros que puedes contratar desde tu banco.', N'~/assets/img/card-banca.svg', N'Sector', 1, N'B04889', CAST(N'2026-02-25T16:22:47.100' AS DateTime), NULL, NULL)
INSERT [Prod].[Sectors] ([Id], [Code], [Name], [Description], [ResourcePath], [Action], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (2, N'SSEE', N'Seguros para empresas', N'Protegen a tus empleados. Ideales para grupos grandes.', N'~/assets/img/card-empresas.svg', N'Sector', 1, N'B04889', CAST(N'2026-02-25T16:22:47.100' AS DateTime), NULL, NULL)
INSERT [Prod].[Sectors] ([Id], [Code], [Name], [Description], [ResourcePath], [Action], [IsActive], [CreatedBy], [CreatedAt], [UpdatedBy], [UpdatedAt]) VALUES (3, N'CHECK', N'Seguros individuales', N'100% digitales. Sin papeles, sin filas. Rápidos y fáciles.', N'~/assets/img/card-individuales.svg', N'https://www.check.bo', 1, N'B04889', CAST(N'2026-02-25T16:22:47.100' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [Prod].[Sectors] OFF
GO
ALTER TABLE [Prod].[Assistances]  WITH CHECK ADD  CONSTRAINT [FK_Assistance_Product] FOREIGN KEY([ProductId])
REFERENCES [Prod].[Products] ([Id])
GO
ALTER TABLE [Prod].[Assistances] CHECK CONSTRAINT [FK_Assistance_Product]
GO
ALTER TABLE [Prod].[Coverages]  WITH CHECK ADD  CONSTRAINT [FK_Coverage_Product] FOREIGN KEY([ProductId])
REFERENCES [Prod].[Products] ([Id])
GO
ALTER TABLE [Prod].[Coverages] CHECK CONSTRAINT [FK_Coverage_Product]
GO
ALTER TABLE [Prod].[ProductProperties]  WITH CHECK ADD  CONSTRAINT [FK_ProductId] FOREIGN KEY([ProductId])
REFERENCES [Prod].[Products] ([Id])
GO
ALTER TABLE [Prod].[ProductProperties] CHECK CONSTRAINT [FK_ProductId]
GO
ALTER TABLE [Prod].[Products]  WITH CHECK ADD  CONSTRAINT [FK_AllianceId] FOREIGN KEY([AllianceId])
REFERENCES [Prod].[Alliances] ([Id])
GO
ALTER TABLE [Prod].[Products] CHECK CONSTRAINT [FK_AllianceId]
GO
ALTER TABLE [Prod].[Products]  WITH CHECK ADD  CONSTRAINT [FK_SectorId] FOREIGN KEY([SectorId])
REFERENCES [Prod].[Sectors] ([Id])
GO
ALTER TABLE [Prod].[Products] CHECK CONSTRAINT [FK_SectorId]
GO
USE [master]
GO
